<%- include('partials/header') %>

 
    

    <!--==================== MAIN ====================-->
    <main class="main">
      <!--==================== HOME ====================-->
      <section class="home">
        <div class="home__shape-small"></div>
        <div class="home__shape-big-1"></div>
        <div class="home__shape-big-2"></div>
        <img src="img/shape-bg.png" alt="" class="home__shape-bg" />

        <div class="home__container container">
          <div class="home__info">
            <br>
            <br>
            <div class="card-container">
              <div class="card">
              <div class="img-content">
                <img src="img/our.jfif" alt="New Image Alt Text" />
              </div>
              <div class="content">
                <p class="heading"><b>Our Inspiration</b></p>
                <p>
                  Our journey began with the realization that the world of NFTs can be both exciting and complex. As avid NFT collectors and enthusiasts ourselves, we recognized the need for a platform that simplifies the data analysis process, making it accessible to everyone. This realization inspired us to create GR$A-NFT.
                </p>
              </div>
            </div>
            </div>
            <br>
            <div class="card-container">
              <div class="card">
              <div class="img-content">
                <img src="img/mvv.png" alt="New Image Alt Text" />
              </div>
              <div class="content">
                <p class="heading"><b>Mission and Values</b></p>
                <p>
                  Our mission is simple yet profound: to enable users to understand NFTs graphically and make informed decisions. We uphold values of transparency, accuracy, and user empowerment, ensuring that our users have the tools they need to thrive in the NFT space.
                  
              </div>
            </div>
            </div>
            <br>
            <div class="card-container">
              <div class="card">
              <div class="img-content">
                <img src="img/partnership-deed.png"  height="100%" width="100%" alt="New Image Alt Text" />
              </div>
              <div class="content">
                <p class="heading"><b>Partnering with Moonstream</b></p>
                <p>
                  We're proud to collaborate with Moonstream, a leading source of NFT data. This partnership allows us to deliver real-time, accurate, and comprehensive data to our users, ensuring that they have the most up-to-date insights at their fingertips.
              
              </div>
            </div>
            </div>
            <br>
            <br>
            <br>
            
          </div>

          <div class="home__group">
            <div class="home__images">
              <div class="home__img-eth">
                <img src="img/ethereum-img.png" alt="home image" />
              </div>
              <div class="home__img-orbe">
                <img src="img/orbe-img.png" alt="home image" />
              </div>
            </div>

            


               
              </div>
            </div>
          </div>
        </div>
      </section>

      
      

    </main>

    
    
  
   <%- include('partials/footer') %>    
