<%- include('partials/header') %>

  
    

    <!--==================== MAIN ====================-->
    <main class="main">
      <!--==================== HOME ====================-->
      <section class="home">
        <div class="home__shape-small"></div>
        <div class="home__shape-big-1"></div>
        <div class="home__shape-big-2"></div>
        <img src="img/shape-bg.png" alt="" class="home__shape-bg" />

        <div class="home__container container">
          

            
            <section class="form-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <form action="">
              <br>
              <br>
      
              <div class="form-row">
                <div class="input">
                  <input type="text" required="" autocomplete="off">
                  <label for="name">Firstname</label>
              </div>
              </div>
              <div class="form-row">
                <div class="input">
                  <input type="email" required="" autocomplete="off">
                  <label for="name">Email</label>
              </div>
              </div>
              
              <div class="form-row">
                <div class="input">
                  <input type="number" required="" autocomplete="off">
                  <label for="name">Contact Number</label>
              </div>
              </div>
              
              
             

              <div class="form-row">
                <div class="input">
                  <input type="text" required="" autocomplete="off">
                  <label for="name">Subject</label>
              </div>
              </div>

              
              
             
              <div class="form-row">
                <div class="form-group col-md-12 text-center">
                  <button   type="submit" class="btn btn-primary">
                    <i class="fas fa-paper-plane"></i> Send Message
                  </button>
                </div>
              </div>
              <br>
            </form>
          <!-- </div>
          <div class="col-md-6 address">
            <h5>Call Us / WhatsApp</h5>
            <p>
              <a href="tel:+917506852862"
                ><i class="fas fa-phone"></i> +(91) 7506852862 </a
              ><br />
            </p>
            <h5>Email / Website</h5>
            <p>
              <a href="mailto:insiyam07@gmail.com"
                ><i class="fas fa-envelope"></i> insiyam07@gmail.com</a
              ><br />
            </p>
            <h5>Working hours</h5>
            <p>Mon - Fri : 9am - 6pm(IST)</p>
            <h5>Address</h5>
            <p>Mumbai - 400070, Maharashtra</p>
          </div>
        </div>
      </div> -->
    </section>
       
    


    <div class="home__footer">
      <div>
        <span class="home__footer-title">Call Us / WhatsApp</span>
        <h3 class="home__footer-number">7506852862</h3>
        <span class="home__footer-subtitle">9 to 5</span>
      </div>

      <div>
        <span class="home__footer-title">Email / Website</span>

        <!-- <div class="home__footer-time">
          <div class="home__footer-counter">
            <h3 class="home__footer-number"></h3>
            <span class="home__footer-subtitle">hours</span>
          </div> -->

          <!-- <div class="home__footer-counter">
            <h3 class="home__footer-number">26</h3>
            <span class="home__footer-subtitle">minutes</span>
          </div> -->

          <div class="home__footer-counter">
            <h3 class="home__footer-number" href="mailto:insiyam07@gmail.com" >insiyam07@gmail.com</h3>
            <span class="home__footer-subtitle">Mumbai - 400070</span>
          </div>
        </div>
      </div>
    </div>
  </div>
          

            

          
        
      </section>
    </main>

    <%- include('partials/footer') %>
