<%- include('partials/header') %>

<main class="main">
      <section class="home">
        <div class="home__shape-small"></div>
        <div class="home__shape-big-1"></div>
        <div class="home__shape-big-2"></div>
        <img src="img/shape-bg.png" alt="" class="home__shape-bg" />

        <div class="home__container container">
          <div class="home__info">
            <h1 class="home__title">
              <button type="button" class="btnn" id="myButton">
                <strong>GO</strong>
                <div id="container-starss">
                  <div id="starss"></div>
                </div>
              
                <div id="glow">
                  <div class="circle"></div>
                  <div class="circle"></div>
                </div>
              </button>
              
            </h1>
          
            
          </div>

          
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    
<%- include('partials/footer') %>

