<%- include('partials/header') %>

  


    <main class="main">
      <section class="home">
        <div class="home__shape-small"></div>
        <div class="home__shape-big-1"></div>
        <div class="home__shape-big-2"></div>
        <img src="img/shape-bg.png" alt="" class="home__shape-bg" />

        <div class="home__container container">
          

          <form class="form" action="/login" method="POST">
            <p id="heading">User</p>
            <div class="field">
            
            
            
             

             
             <div class="btn">
<a class="button1"  href="/register" role="button">Register</a>
<a class="button2"  href="/userlogin" role="button">Login</a>
</div>
           
           
        </form>  
            
              
             

              

              
              
             
              
          <!-- </div>
          <div class="col-md-6 address">
            <h5>Call Us / WhatsApp</h5>
            <p>
              <a href="tel:+917506852862"
                ><i class="fas fa-phone"></i> +(91) 7506852862 </a
              ><br />
            </p>
            <h5>Email / Website</h5>
            <p>
              <a href="mailto:insiyam07@gmail.com"
                ><i class="fas fa-envelope"></i> insiyam07@gmail.com</a
              ><br />
            </p>
            <h5>Working hours</h5>
            <p>Mon - Fri : 9am - 6pm(IST)</p>
            <h5>Address</h5>
            <p>Mumbai - 400070, Maharashtra</p>
          </div>
        </div>
      </div> -->
    </section>
       
    


    

        
          
          

            

          
        
      </section>
    </main>

   

<%- include('partials/footer') %>
